header {
  margin: 30px auto;
  max-width: 60%;
  text-align: center;
}


h1 {
  font-size: 400%;
  font-weight: 400;
  font-family: 'Bebas Neue', cursive;

}

h2 {
  font-size: 200%;
  font-family: 'Montserrat', sans-serif;

}

ul#social {
  padding: 0;
}

ul#social li {
  display: inline;
}

#social {
  margin-bottom: 0px;
}

